*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2eadf;
}

.container{
  position: relative;
  width: 340px;
  height: 480px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  overflow: hidden;
}
header{
  position: relative;
  background: #008069;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1em;
}

header .action{
  position: relative;
  display: flex;
  gap: 15px;
}

header .action a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.tabs input{
  visibility: hidden;
  display: none;
}

.buttons{
  position: relative;
  display: flex;
  background: #008069;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.buttons label{
  width: 33.33%;
  color: #fff;
  opacity: 0.75;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  cursor: pointer;
  padding: 5px 0;
  
}

.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabs input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3){
  opacity: 1;
}

.underline{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33.33%;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}
/* .tabs input:nth-child(1):checked ~ .buttons .underline{
  left: 0;
}
.tabs input:nth-child(2):checked ~ .buttons .underline{
  left: 33.33%;
}
.tabs input:nth-child(3):checked ~ .buttons .underline{
  left: 66.66%;
} */

.content{
  position: relative;
  width: calc(3 * 340px);
  display: flex;

  transition: 0.5s;
}

.content .box{
  position: relative;
  width: 340px;
}

/* .tabs input:nth-child(1):checked ~ .content{
  left: calc(340px * 0);
}

.tabs input:nth-child(2):checked ~ .content{
  left: calc(340px * -1);
}

.tabs input:nth-child(3):checked ~ .content{
  left: calc(340px * -2);
} */

.tabs input:checked ~ .content{
  left: calc(-1 * var(--i) * 340px);
}
.tabs input:checked ~ .buttons .underline{
  left: calc(var(--i) * 33.33%)
} 

.chatList{
  position: relative;
  width: 100%;
  height: 410px;
  overflow-y: auto;
}
.chatList .chat{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  padding: 15px 10px;
}

.chatList .chat:hover{
  background: #f5f5f5;
}

.chatList .chat .avatar{
  position: relative;
  min-width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.chatList .chat .avatar img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatList .chat .details{
  position: relative;
  width: 100%;
}
.chatList .chat .details .chatHeader{
  display: flex;
  justify-content: space-between;
}

.chatList .chat .details .chatHeader .time{
  font-size: 0.75em;
  color: #555;
}

.chatList .chat .details .chatBody{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatList .chat .details .chatBody p{
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.chatList .chat.unread .details .chatHeader .time{
  color: #06d755;
}

.chatList .chat.unread .details .chatBody p{
  color: #111;
  font-weight: 600 ;
}

.chatList .chat.unread .details .chatBody b{
  background: #06d755;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #bbb;
}

.status .plus{
  position: absolute;
  top: 38px;
  left: 40px;
  width: 25px;
  height: 25px;
  background: #008069;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  direction: 1.2em;
  font-weight: 700;
}

.box label{
  padding: 0 15px;
  font-weight: 600;
  font-size: .85em;
  color: #555;
}

.unseen .avatar
{
  box-shadow: 0 0 0 2px #fff,
  0 0 0 4px #008069;
}

.seen .avatar
{
  box-shadow: 0 0 0 2px #fff,
  0 0 0 4px #bbb;
}

.green{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008069;
  color: #fff;
  font-size: 1.5em;
  rotate: -45deg;
}
.incoming ion-icon{
  color: #0f0;
  rotate: 45deg;

}
.outgoing ion-icon{
  color: #f00;
  rotate: 45deg;
}

.call{
  font-size: 1.5em;
  color: #008069;

}